<!DOCTYPE html>
<html lang="en">
    
    <div class="col-lg-2 col-xs-0"> </div>

    <div class="col-lg-8 col-xs-0" align="center" style="margin-top:1.5%; font-size: 105%;">

        <h1 style="font-size: 180%;"> Sign <span style="color: #3f87ff; font-size: 100%;"> Up </span> </h1> 
        <br><br>

        <div class="widget">
            <form name="create-user-form" id="create-user-form"  method="post" novalidate>
                

                <div class="form-group">
                    <label for="firstName">First name</label> <br><br>
                    <input type="text" id="firstName" name="firstName" required value="{{input.firstName}}" />
                </div>

                <br>

                <div class="form-group">
                    <label for="lastName">Last name</label> <br><br>
                    <input type="text" id="lastName" name="lastName" required value="{{input.lastName}}"/>
                </div>
                
                <br>

                <div class="form-group">
                    <label for="roomNumber"> Twitter Handle </label> <br><br>
                    <input type="text" id="roomNumber" name="roomNumber" required value="{{input.roomNumber}}"/>
                </div>
                
                <br>

                <div class="form-group">
                    <label for="email">Email</label> <br><br>
                    <input type="email" id="email" name="email" required value="{{input.email}}"/>
                </div>

                <br>

                <div class="form-group">
                    <label for="password">Password</label> <br><br>
                    <input type="password" id="password" name="password" autocomplete="off" value="{{input.password}}"/>
                </div>

                <br>

                <div class="form-submit">
                    
                    <input type="submit" value="Sign Up" style="color: #fff; width: 100px; height: 40px; border: none; background-color: #3f87ff; border-radius: 5px;"/>

                 </div>
                 
                 <br><br>

                 <span style="color:red"> {{error}} </span>
            </form>
        </div>
    </div>

    <div class="col-lg-2 col-xs-0"> </div>

</html>